@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* General styles */
body {
    font-family: Roboto, sans-serif;
    background-color: #BCD2EE;
    color: #3b0b0e;
}

header {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #ADC8EB;
}

.heading {
    margin-left: 20px;
}

.main-container {
    display: flex;;
}

h2 {
    margin-bottom: 0;
    margin-top: 8px;
}

a {
    color: #3b0b0e;
    text-decoration: none;
}

.row{
    justify-content: center;
    margin-bottom: 55px;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.form-select {
    margin-top: 8px;
    background-color: #ADC8EB;
    color: #3b0b0e;
    border-color: #3b0b0e;
}

.btn {
    margin: 10px auto;
}

.btn-primary {
    background-color: rgb(74, 74, 145);
}

.btn-success {
    background-color: rgb(66, 109, 66);
}

.btn-success:hover {
    background-color: rgb(67, 160, 67);
}

label {
    margin-top: 12px;
    font-weight: 600;
}

.box {
    width: 180px;
    height:  40px;
    border: 2px solid #3b0b0e;
    border-radius: 12px;
    padding: 6px;
    background-color: #ADC8EB;
    color: #3b0b0e;
}

.box:active {
    background-color: #ADC8EB;
}

/* Volume */
#volume-output-box {
    margin-bottom: 0px;
}

/* Mass */
#mass-output-box {
    margin-bottom: 0px;
}

/* Aside */
aside {
    margin: 15px;
    order: 2;
    height: 100%;
    width: 20%;
}

/* Media Queries */
@media (min-width: 768px) {
    .main-container {
        padding: 35px;
    }

    aside {
        margin: 8px;
    }

    .row {
        padding: 0;
        gap: 6px;
    }

    .input-container {
        padding: 0;
    }

    label {
        margin-bottom: 8px;
    }
}

@media (min-width: 992px) {
    .main-container {
        padding: 45px;
    }
}

@media (min-width: 1200px) {
    .main-container {
        padding: 65px;
    }

    .row {
        margin-bottom: 75px;
    }
}
