@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* General styles */
body {
    font-family: Roboto, sans-serif;
    background-color: #dfd5d5;
}

header {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #c4b1b1;
}

.heading {
    color: rgb(54, 48, 48);
}

h2 {
    margin-bottom: 0;
    margin-top: 8px;
}

a {
    text-decoration: none;
    color: #1a1818;
}

.row{
    justify-content: center;
    margin-bottom: 35px;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.form-select {
    margin-top: 8px;
}

.btn {
    margin: 10px auto;
}

.btn-primary {
    background-color: rgb(96, 96, 170);
}

.btn-success {
    background-color: rgb(108, 124, 108);
}

label {
    margin-top: 12px;
    font-weight: 600;
}

.box {
    width: 180px;
    height:  40px;
    border: 2px solid black;
    border-radius: 12px;
    padding: 6px;
    background-color: #dfd5d5;
}

/* Volume */
#volume-output-box {
    margin-bottom: 0px;
}

/* Mass */
#mass-output-box {
    margin-bottom: 0px;
}